<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Board List</title>
</head>
<body>
<h1>Board List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Writer</th>
    <th>Created Date</th>
    <th>Modified Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <td th:text="${board.id}"></td>
    <td th:text="${board.title}"></td>
    <td th:text="${board.writer}"></td>
    <td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${#dates.format(board.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td>
      <a th:href="@{/board/update/{id}(id=${board.id})}">Edit</a>
      <a th:href="@{/board/delete/{id}(id=${board.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/board/create">Add</a>
</body>
</html>
